.body-bg{
    background-color: #F3F1FF;
}

.nav-bg{
    background-color: #562EFF;
}

.logo{
    width: 40px;
}

.active{
font-weight: 600;
}

.section-title{
    color: #562eff;
    font-size: 24px;
}

.player-img{
    width: 56px;
}

.player-name{
    font-size: 18px;
}

.blog-img{
    width: 177px;
}

.blog-title{
    font-size: 18px;
}

.author .author-name{
    font-size: 14px;
}

.author-name{
    color: #562EFF;
}